<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <header class="header"></header>
    <main class="main" id="app">
        <div class="main-container">
            <div class="left-container">
                <div class="col-header">
                    <div class="main-user">
                        <img class="thumb" src="img/avatar_io.jpg" alt="Immagine dell'utente">
                        <p>Nome Utente</p>
                    </div>
                    <div class="nav">
                        <i class="nav-icon fas fa-circle-notch"></i>
                        <i class="nav-icon fas fa-comment-alt"></i>
                        <i class="nav-icon fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="notification d-flex">
                    <div class="circle-background d-flex">
                        <i class=" bell fas fa-bell-slash"></i>
                    </div>
                    <div>
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <span class="active-not">Attiva notifiche desktop</span>
                    </div>
                </div>
                <div class="chats">
                    <div class="search-chat d-flex">
                        <i class="fas fa-search search-icon"></i>
                        <input class="new" type="text" placeholder="Cerca o inizia nuova chat">
                    </div>

                    <ul class="users">
                        <li @click = "change(index)" v-for="(element, index) in contacts" class="user-chat d-flex">
                            <div class="user">
                                <img class="thumb" :src="`img/avatar${element.avatar}.jpg`" alt="Avatar Michele">
                                <div class="name">
                                    <h3>{{element.name}}</h3>
                                    <p  class="preview">{{element.messages[element.messages.length - 1].text}}</p>
                                </div>
                            </div>
                            <div class="date">
                                <span class="preview">{{element.messages[element.messages.length - 1].date}}</span>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="right-container">
                <div class="col-header">
                    <div class="main-user">
                        <img class="thumb" :src="`img/avatar${contacts[contatore].avatar}.jpg`" alt="Immagine dell'utente">
                        <div>
                            <p>{{contacts.name}}</p>
                            <p class="access">Ultimo accesso {{contacts[contatore].messages[contatore].date}}</p>
                        </div>
                    </div>
                    <div class="nav">
                        <i class="nav-icon fas fa-search"></i>
                        <i class="nav-icon fas fa-paperclip"></i>
                        <i class="nav-icon fas fa-ellipsis-v"></i>
                    </div>
                </div>
                <div class="conversation">
                    <ul>
                        <li  :class="(message.status == 'received') ? 'received-message ' : 'sent-message' "
                        v-for="message in contacts[contatore].messages">
                            <div :class="(message.status == 'received') ? 'mex' : 'my-mex' " >
                                <p class="mex-text">{{message.text}}</p>
                                <p class="when">{{message.date}}</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="message d-flex">
                    <i class="far fa-smile"></i>
                    <input class="new new-mex" type="text" placeholder="Scrivi un messaggio">
                    <i class="fas fa-microphone"></i>
                </div>
            </div>
        </div>
    </main>
    <script src="script.js"></script>
</body>
</html>